<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


	<link rel="stylesheet" href="/assets/style/main.css" type="text/css" />

	<title>Wheelin' N Dealin'</title>

</head>

<body>
	<header class="jumbotron">
		<h1>Welcome to Wheelin' N Dealin'</h1>
		<h3>Check out our current 2019 listings or find out more about our vehicle lottery!</h3>
		<nav class="nav-bar">
			<a href="/"> Home Page </a>|
			<a href="/login"> Login to your Profile </a>|
			<a href="/inventory"> Browse the Inventory Now </a>|
			<a href="/auction"> Visit Our Current Auction </a>|
			<a href="/vehicle_search"> Search your perfect Vehicle </a>
		</nav>
	</header>

	{{{ body }}}

	<footer>
		<p>&#9400; 2019 - Ngoc V. | Daniel H. | Casey L. | Jake G.</p>
	</footer>
	<script src="https://code.jquery.com/jquery.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

	<script src="../../assets/js/submit.js"></script>
</body>

</html>