body {
    background-image: url(https://images.unsplash.com/photo-1492144534655-ae79c964c9d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1747&q=80);
    background-size: 100%;
    background-attachment: fixed;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    opacity: .99;
}

.jumbotron {
    color: #e6e9ec;
    border-radius: 18px;
    text-align: center;
    border-style: solid;
    font-size: 30px;
    color: transparent;
    -webkit-text-stroke: 1px white;
    background-image: url(../../imgs/checkerd.jpg);
    -webkit-background-clip: text;
    background-position: 0;
    animation: back 20s linear;
}

footer {
    background: black;
    padding: 2rem;
    text-align: center;
    border-radius: 18px;
    margin-bottom: 5%;
    border-style: solid;
    padding-bottom: 1rem;
    font-size: 30px;
    color: transparent;
    -webkit-text-stroke: 1px white;
    background-image: url(../../imgs/checkerd.jpg);
    -webkit-background-clip: text;
    background-position: 0;
    animation: back 20s linear;
}

.nav-bar {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: -2rem;
}

img {
    height: 360;
    border-radius: 18px;
    width: 600px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-style: solid;
    border-color: e6e9ec;
    border-width: 2px;
}

.card-title {
    text-align: center;
    font-size: 40px;
}

.car-show,
p {
    background: black;
    color: white;
    width: 80%;
    border-radius: 18px;
    margin-left: 10%;
    text-align: center;
    font-size: 28px;
    border-style: solid;
    padding-top: 1rem;
    font-size: 30px;
    color: transparent;
    -webkit-text-stroke: 1px whitesmoke;
    background-image: url(../../imgs/checkerd.jpg);
    -webkit-background-clip: text;
    background-position: 0;
    animation: back 20s linear;
}

.car-break {
    border-style: solid;
    width: 90%;
    margin-left: 5%;
}

.secret-show {
    background: #2b0505;
    width: 80%;
    border-radius: 18px;
    margin-left: 10%;
    text-align: center;
    color: white;
    font-size: 28px;
    margin-top: 3rem;
}

.secret-intro,
{
    background: black;
    color: #e6e9ec;
    text-align: center;
    border-radius: 18px;
    padding: 2rem;
    border-style: solid;
}

.body-home {
    background: black;
    color: #e6e9ec;
    border-radius: 18px;
    padding: 1rem;
    border-style: solid;
    margin-bottom: 5%;
    font-size: 20px;
    color: transparent;
    -webkit-text-stroke: 1px white;
    background-image: url(../../imgs/checkerd.jpg);
    -webkit-background-clip: text;
    background-position: 0;
    animation: back 20s linear;
}

.body-inv,
{
    background: #e6e9ec;
    border-radius: 18px;
    padding: 1rem;
    border-style: solid;
    margin-bottom: 5%;
    width: 90%;
    margin-left: 5%;
    text-size: 40px;
    font-size: 30px;
    color: transparent;
    -webkit-text-stroke: 1px white;
    background-image: url(../../imgs/checkerd.jpg);
    -webkit-background-clip: text;
    background-position: 0;
    animation: back 20s linear;
}

.inv {
    background: black;
    color: white;
    margin-top: 4%;
    margin-bottom: 4%;
    border-radius: 18px;
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.body-deals {
    background: blueviolet;
    margin-top: 4%;
    margin-bottom: 4%;
    border-radius: 18px;
}

#profile-picture {
    height: 300px;
    width: 300px;
    margin-top: 0;
}

.profile-page,
{
    background: white;
    margin-bottom: 5%;
    padding: 2rem;
    border-radius: 18px;
    border-style: solid;
}

.inv,
{
    font-size: 30px;
    color: transparent;
    -webkit-text-stroke: 1px gold;
    background-image: url(../../imgs/checkerd.jpg);
    -webkit-background-clip: text;
    background-position: 0;
    animation: back 20s linear;
}

.btn-light {
    padding: 1rem;
    margin-bottom: 3rem;
    border-style: groove;
}

.card {
    font-size: 30px;
    color: transparent;
    -webkit-text-stroke: 1px white;
    background-image: url(../../imgs/checkerd.jpg);
    -webkit-background-clip: text;
    background-position: 0;
    animation: back 20s linear;
}

#auction-frame {
    background: black;
    color: white;
    border-radius: 18px;
    text-align: center;
    padding: 2rem;
    font-size: 24px;
    margin-bottom: 5%;
    font-size: 30px;
    color: transparent;
    -webkit-text-stroke: 1px gold;
    background-image: url(../../imgs/checkerd.jpg);
    -webkit-background-clip: text;
    background-position: 0;
    animation: back 20s linear;
}

@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}

#search-btn,
b,
label {
    font-size: 30px;
    color: transparent;
    -webkit-text-stroke: 1px royalblue;
    background-image: url(../../imgs/checkerd.jpg);
    -webkit-background-clip: text;
    background-position: 0;
    animation: back 20s linear;
}

#card-header {
    font-size: 30px;
    color: transparent;
    -webkit-text-stroke: 1px white;
    background-image: url(../../imgs/checkerd.jpg);
    -webkit-background-clip: text;
    background-position: 0;
    animation: back 20s linear;
}

#login-btn,
.btn-secondary {
    font-size: 30px;
    color: transparent;
    -webkit-text-stroke: 1px azure;
    background-image: url(../../imgs/checkerd.jpg);
    -webkit-background-clip: text;
    background-position: 0;
    animation: back 20s linear;
}

.search-body {
    font-size: 30px;
    color: transparent;
    -webkit-text-stroke: 1px royalblue;
    background-image: url(../../imgs/checkerd.jpg);
    -webkit-background-clip: text;
    background-position: 0;
    animation: back 20s linear;
}