body {
    background-image: url("https://assets.entrepreneur.com/images/misc/1552673477_Inside-Porsche-Palm-Springs.jpg?width=1000?width=1000");
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    background-size: 110%;
    background-attachment: fixed;
    opacity: .90;
}

.body {
    background: red;
}

footer {
    text-align: center;
    background: yellow;
}

.nav-bar {
    text-align: right;
}

.jumbotron {
    text-align: center;
}