<div class="body">
    <h3>Welcome to Wheelin' N Dealin', your gateway to your next dream vehicle. Our stock is hand picked and we guarentee you'll love the deal you get.</h3>
    <p>Feel free to shop as a guest and browse our inventory, we are sure to have a vehicle that will fit your needs. If you would like a more customized approach, please sign up and create a profile with us, your profile information will help us link you to your next dream car.</p>
</div>

<div class="body-images">
    <p>Holding Place for intial cars that will be rendered on page, this will be limited to 5 cars</p>
</div>

<div class="body-deals">
          {{> deal }}
</div>
