<header class="jumbotron">
    <h1>Welcome to Wheelin' N Dealin'</h1>
    <h1>Your Number #1 Stop For Your Next Vehicle</h1>
    <h2>We will not be undersold, check out our exclusive Deal of the Day Lottery!</h2>
    <nav class="nav-bar">Holding Place for Profile Page Link | Holidng Place for Secret Menu Link</nav>
</header>

<div class="body">
    <p>Holding Place for welcome information</p>
</div>

<div class="body-images">
    <p>Holding Place for intial cars that will be rendered on page</p>
</div>

<div class="body-deals">
    <p>Holding Place for deal of the day lottery that is going to be displayed</p>
</div>

<footer class="jumbotron">
    <p>Created By: Ngoc V. | Daniel H. | Casey L. | Jake G.</p>
</footer>

{{!-- <div class="display-closed">
    <h2 class="not_eaten">These have already been devoured...but they can be reclaimed!</h2>

    <ol class="not_eaten">
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=true}}
        {{/unless}}
        {{/each}}
    </ol>
</div>
<div class="display-open">
    <h2 class="eaten">These are available for consumption...hurry and choose before they are all gone!</h2>

    <ol class="eaten">
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block devoured=false}}
        {{/if}}
        {{/each}}
    </ol>
</div>
<div class="display-add">
    <h2>Add a Burger to the Madness!</h2>
    <form class="create-form">

        <div class="form-group">
            <label id="labeladd" for="burgs">Burger Name:</label>
            <input type="text" id="burgs" name="name">
            <button class="add-burger btn btn-light" type="submit">Add Burger</button>
        </div>
    </form>
</div> --}}