<div class="body">
    <p>Holding Place for welcome information</p>
</div>

<div class="body-images">
    <p>Holding Place for intial cars that will be rendered on page</p>
</div>

<div class="body-deals">
    <p>Holding Place for deal of the day lottery that is going to be displayed</p>
</div>

<div class="display-closed">
    <h2 class="not_eaten">These have already been devoured...but they can be reclaimed!</h2>

    <ol class="not_eaten">
        {{#each carOb}}
  
        {{/each}}
    </ol>
</div>

</div>