

<body>
    <form action="action_page.php" method="post">
        <div class="card">
            <img src="../imgs/Wheelin'NDealinLogo.png" class="card-img-top" alt="logo">
            <div class="card-body">
                <h5 class="card-title">Log In to your Dealin Account</h5>
                <p class="card-text">Member's Who Sign Up Will Recieve Extra Perks From Wheelin 'N Dealin</p>


                <div class="container">
                    <label for="username"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="username" required>

                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="password" required>
                    <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                </div>

                <div class="container">
                    <a href="./" class="btn btn-primary">Log In Here</a>
                    <a href="./login/signup/" class="btn btn-secondary">Not a Member? Sign Up</a>
                </div>
    </form>

</body>

</html>