<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Wheelin 'N Dealin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Inventory</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Bidding</a>
                </li>
            </ul>
        </div>
    </nav>
    <form action="action_page.php" method="post">
        <div class="card">
            <img src="./Wheelin 'N Dealin Logo.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Log In to your Dealin Account</h5>
                <p class="card-text">Member's Who Sign Up Will Recieve Extra Perks From Wheelin 'N Dealin</p>


                <div class="container">
                    <label for="username"><b>Username</b></label>
                    <input id="email-login" type="text" placeholder="Enter Username" name="username" required>

                    <label for="psw"><b>Password</b></label>
                    <input id="password-login" type="password" placeholder="Enter Password" name="password" required>
                    <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                </div>

                <div class="container">
                    <a id="login-btn" class="btn btn-primary">Log In Here</a>
                    <a href="/signup" class="btn btn-secondary">Not a Member? Sign Up</a>
                </div>
    </form>
    </div>
    </div>

</body>

</html>