<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
    <link rel="stylesheet" type="text/css" media="screen" href="#" />

</head>

<body>
    <div class="wrapper">
        <nav>Profile Page</nav>
        <div class="clearfix floats">
            <header>
                Header
                <article> User Links / Seceret Menu</article>
            </header>
            <save>Saved</save>
            <section> Profile Pic</section>
            <section style="clear: left">Deal Of The Day</section>
            <section style="clear:left"> User Rewards </section>
            <section style="float:none; margin-left: 290px; height:224px; width:150px">Interests and Profile info</section>
        </div>
    </div>



    <footer>Footer</footer>
</body>

</html>