<div class="profile-left">
    <div class="profile-images">
        <p>Holding Place for profile picture for user</p>
    </div>

    <div class="profile-deals">
        <p>Holding Place for deal of the day lottery that is going to be displayed</p>
    </div>

    <div class="profile-user-rewards">
        <p>Holding Place for deal of the day lottery that is going to be displayed</p>
    </div>

</div>

<div class="profile-body">
    <p>Holding Place for user information, interest, other</p>
</div>

<div class="profile-saved">
    <p>Holding Place for user favorite cars</p>
</div>

<div class="profile-links">
    <p>Holding Place for user links if they are authorized to get to secret menu</p>
</div>