<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                Search For Your New Vehicle Here!
            </div>
            <div class="card-body">
                <form action="" method="POST" role="form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Model</label>
                                <input type="text" class="form-control" id="model-search" placeholder="">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Make</label>
                                <input type="text" class="form-control" id="make-search" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Year</label>
                                <input type="number" class="form-control" id="year-search" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Type</label>
                                <input type="text" class="form-control" id="type-search" placeholder="">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Color</label>
                                <input type="text" class="form-control" id="color-search" placeholder="">
                            </div>
                        </div>
                </form>
                <br>
                <div class="text-right">
                    <button id="search-btn" type="submit" class="btn btn-primary btn-md btn-light">
                        Check the Wheelin' N Dealin' Inventory!</button>
                </div>
            </div>
        </div>
    </div>
</div>