<html>

<head>
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="../public/assets/style/style.css"></link>


</head>

<body>
    <div id="login">
        <div class="left">
            <h1>Sign up</h1>
            <input type="text" name="username" placeholder="Username" required />
            <input type="text" name="email" placeholder="Email" required />
            <input type="text" name="username" placeholder="Password" required />
            <input type="text" name="username" placeholder="Re Enter Password" required />
            <a href="/">
                <input type="submit" name="sign-up" value="Wheelin 'N Dealin New Memeber" />
            </a>


        </div>

    </div>
</body>

</html>